
resources/favicons/android-chrome-192x192.png
resources/favicons/android-chrome-256x256.png
resources/favicons/apple-touch-icon.png
resources/favicons/favicon-16x16.png
resources/favicons/favicon-32x32.png
resources/favicons/favicon.ico
resources/img/Arabic Grilled Lamb.jpg
resources/img/Mixed Grill Platter.jpg
